body{
    background-color: black;
}

.aheader{
    color: red;
    background-color: black;
    box-shadow: 0 4px 8px 0 red;
    text-align: center;
    width: 300px;
    margin:auto;
    padding:16px;
    border-radius: 4%;
}

.centerermusic{
    align-items: center;
    display:flex;
    justify-content: center;
    padding:40px;
}

.musicbtn{
    color:black;
    background-color: red;
    box-shadow: 0 4px 8px 0 red;
}

.musicbtn:hover{
    color:red;
    background-color: black;
    box-shadow: 0 4px 8px 0 red;
}