body{
    background-color: black;
}

.musicheader{
    size: 300%;
    color: black;
    background-color: rgb(255, 174, 133);
    box-shadow: 0 4px 8px 0 black;
    text-align: center;
    width: 300px;
    margin:auto;
    padding:16px;
    border-radius: 4%;
    border-spacing: 15px;
    border: 1px solid rgb(255, 174, 133);
}

.codemonkey{
    border-spacing: 15px;
    background-color: rgb(255, 174, 133);
    color: black;
    box-shadow: 0 4px 8px 0 black;
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 20px;
    border-radius: 6%;
    border: 1px solid rgb(255, 174, 133);
}