body{
    background-color: black;
}

.musicheader{
    size: 300%;
    color: red;
    background-color: black;
    box-shadow: 0 4px 8px 0 red;
    text-align: center;
    width: 300px;
    margin:auto;
    padding:16px;
    border-radius: 4%;
    border-spacing: 15px;
    border: 1px solid red;
}

.codemonkey{
    border-spacing: 15px;
    background-color: black;
    color: red;
    box-shadow: 0 4px 8px 0 red;
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 20px;
    border-radius: 6%;
    border: 1px solid red;
}